.dark-mode {
  background: #181818;
  color: azure;
}
.dark-mode .bg-lines {
  border-right: 1px solid #444;
}
.dark-mode .bg-lines .bg-line-1:before,
.dark-mode .bg-lines .bg-line-2:before,
.dark-mode .bg-lines .bg-line-3:before,
.dark-mode .bg-lines .bg-line-4:before {
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.2));
}
.dark-mode .bg-lines .bg-line-1 {
  border-right: 1px solid #444;
}
.dark-mode .bg-lines .bg-line-2 {
  border-right: 1px solid #444;
}
.dark-mode .bg-lines .bg-line-2:before {
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.2));
  -webkit-animation: bgLineDark 8s linear infinite;
  animation: bgLineDark 8s linear infinite;
}
.dark-mode .bg-lines .bg-line-3 {
  border-right: 1px solid #444;
}
.dark-mode .bg-lines .bg-line-3:before {
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.2));
  -webkit-animation: bgLineDark 8s linear infinite;
  animation: bgLineDark 8s linear infinite;
}
.dark-mode .bg-lines .bg-line-4 {
  border-right: 1px solid #444;
}
.dark-mode .bg-lines .bg-line-4:before {
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.2));
  -webkit-animation: bgLineDark 8s linear infinite;
  animation: bgLineDark 8s linear infinite;
}
@-webkit-keyframes bgLineDark {
  0% {
    top: -80px;
  }
  100% {
    top: 100%;
  }
}
@keyframes bgLineDark {
  0% {
    top: -80px;
  }
  100% {
    top: 100%;
  }
}
.link-decoration {
  color: rgba(0, 0, 0, 0.9);
}
.link-decoration:focus,
.link-decoration:hover {
  color: #000;
  text-decoration: underline;
}
.bg-black .link-decoration,
.bg-dark .link-decoration,
.dark-mode .link-decoration {
  color: #fff;
}
.bg-black .link-decoration:focus,
.bg-black .link-decoration:hover,
.bg-dark .link-decoration:focus,
.bg-dark .link-decoration:hover,
.dark-mode .link-decoration:focus,
.dark-mode .link-decoration:hover {
  color: #fff;
}
.stroke-text {
  color: #000;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: #000;
}
@media (max-width: 1199.98px) {
  .stroke-text {
    -webkit-text-stroke-width: 1.2px;
  }
}
.dark-mode .stroke-text {
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: #fff;
}
@media (max-width: 1199.98px) {
  .dark-mode .stroke-text {
    -webkit-text-stroke-width: 1.2px;
  }
}
.dark-mode h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e4dddd;
}
.dark-mode .py-4 h1 {
  color: #e4dddd;
}
.dark-mode .section-box {
  background: #242424;
  border-radius: 0.5em;
  padding: 3em;
  -webkit-box-shadow: 0 8px 26px 0 rgba(240, 240, 240, 0.733);
  box-shadow: 0 8px 26px 0 rgba(134, 133, 133, 0.041);
  -webkit-transition: ease-out 0.16s;
  transition: ease-out 0.16s;
}
.dark-mode .section-box:hover {
  -webkit-box-shadow: 0 8px 32px 0 rgba(22, 24, 26, 0.11);
  box-shadow: 0 8px 32px 0 rgba(22, 24, 26, 0.11);
}
@media (max-width: 991.98px) {
  .dark-mode .section-box {
    padding: 2.5em 2em;
  }
}
@media (max-width: 767.98px) {
  .dark-mode .section-box {
    padding: 2em 1.5em;
  }
}
.dark-mode .title-heading {
  position: relative;
  padding-top: 16px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
}
.dark-mode .title-heading:after {
  content: attr(data-backdrop-text);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.15;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 0.9;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
.dark-mode ul.list-inline-pills li {
  border: 1px dashed rgba(255, 255, 255, 0.2);
  color: #fff;
}
.dark-mode ul.list-inline-pills li:hover {
  color: #fff;
}
.dark-mode .d-inline-block h4 {
  color: #fff;
}
.dark-mode .mono-heading {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
}
.dark-mode .filter ul li {
  border: 1px dashed #fff;
  color: #fff;
}
.dark-mode .filter ul li.mixitup-control-active,
.dark-mode .filter ul li:hover {
  background: #fff;
  color: #000;
}
.dark-mode .services-list .services-item .services-title i {
  color: #fff;
}
.dark-mode .button-circle {
  color: #fff;
}
.dark-mode .button-circle-gray,
.dark-mode a.button-circle-gray {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.dark-mode .button-circle-gray:focus,
.dark-mode .button-circle-gray:hover,
.dark-mode a.button-circle-gray:focus,
.dark-mode a.button-circle-gray:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #000;
}
.dark-mode .button-circle-dark,
.dark-mode a.button-circle-dark {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.dark-mode .button-circle-dark:focus,
.dark-mode .button-circle-dark:hover,
.dark-mode a.button-circle-dark:focus,
.dark-mode a.button-circle-dark:hover {
  background: #000;
  color: #fff;
}
.dark-mode .button-circle-outline-dark,
.dark-mode a.button-circle-outline-dark {
  background: 0 0;
  border: 1px dashed #fff;
  color: #fff;
}
.dark-mode .button-circle-outline-dark:focus,
.dark-mode .button-circle-outline-dark:hover,
.dark-mode a.button-circle-outline-dark:focus,
.dark-mode a.button-circle-outline-dark:hover {
  background: #fff;
  color: #000;
}
.dark-mode .button-circle-white,
.dark-mode a.button-circle-white {
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}
.dark-mode .button-circle-white:focus,
.dark-mode .button-circle-white:hover,
.dark-mode a.button-circle-white:focus,
.dark-mode a.button-circle-white:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.dark-mode .button-circle-outline-white {
  background: 0 0;
  border: 1px dashed #fff;
  color: #fff;
}
.dark-mode .button-circle-outline-white:focus,
.dark-mode .button-circle-outline-white:hover {
  background: #fff;
  color: #000;
}
.dark-mode .swiper-custom-next:focus,
.dark-mode .swiper-custom-prev:focus {
  background: 0 0;
  color: #fff;
}
.dark-mode .swiper-custom-next:focus:hover,
.dark-mode .swiper-custom-prev:focus:hover {
  background: #fff;
  color: #000;
}
.dark-mode .icon-2xl i {
  font-size: 1.86em;
  color: #fff;
}
.dark-mode .icon-xl i {
  font-size: 1.6em;
  color: #fff;
}
.dark-mode .icon-lg i {
  font-size: 1.33em;
  color: #fff;
}
.dark-mode .icon-sm i {
  font-size: 0.0938em;
  color: #fff;
}
.dark-mode .resume-wrapper:before {
  border-left: 1px dashed rgba(255, 255, 255, 0.2);
}
.dark-mode .resume-wrapper .resume-box .resume-date {
  border: 1px dashed rgba(255, 255, 255, 0.2);
  color: #fff;
}
.dark-mode .resume-wrapper .resume-box .resume-date:before {
  border-top: 1px dashed rgba(255, 255, 255, 0.2);
}
.dark-mode .resume-wrapper .resume-box .resume-date:after {
  background: #fff;
}
.dark-mode .resume-wrapper .resume-box:hover .resume-date {
  color: #fff;
}
.dark-mode .button {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.dark-mode .button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #000;
}
.dark-mode .button.button-dark {
  background: #000;
  color: #fff;
}
.dark-mode .button.button-dark:hover {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.dark-mode .button.button-outline-dark {
  background: 0 0;
  border: 1px dashed #fff;
  color: #fff;
}
.dark-mode .button.button-outline-dark:hover {
  background: #fff;
  color: #000;
}
.dark-mode .button.button-white {
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}
.dark-mode .button.button-white:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.dark-mode .button.button-outline-white {
  background: 0 0;
  border: 1px dashed #fff;
  color: #fff;
}
.dark-mode .button.button-outline-white:hover {
  background: #fff;
  color: #000;
}
.dark-mode .button-circle {
  color: #fff;
}
.dark-mode .button-circle:hover {
  color: #838485;
}
.dark-mode .button-circle-gray,
.dark-mode a.button-circle-gray {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.dark-mode .button-circle-gray:focus,
.dark-mode .button-circle-gray:hover,
.dark-mode a.button-circle-gray:focus,
.dark-mode a.button-circle-gray:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #000;
}
.dark-mode .button-circle-dark,
.dark-mode a.button-circle-dark {
  background: #000;
  color: #fff;
}
.dark-mode .button-circle-dark:focus,
.dark-mode .button-circle-dark:hover,
.dark-mode a.button-circle-dark:focus,
.dark-mode a.button-circle-dark:hover {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.dark-mode .button-circle-outline-dark,
.dark-mode a.button-circle-outline-dark {
  background: 0 0;
  border: 1px dashed #fff;
  color: #fff;
}
.dark-mode .button-circle-outline-dark:focus,
.dark-mode .button-circle-outline-dark:hover,
.dark-mode a.button-circle-outline-dark:focus,
.dark-mode a.button-circle-outline-dark:hover {
  background: #fff;
  color: #000;
}
.dark-mode .button-circle-white,
.dark-mode a.button-circle-white {
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}
.dark-mode .button-circle-white:focus,
.dark-mode .button-circle-white:hover,
.dark-mode a.button-circle-white:focus,
.dark-mode a.button-circle-white:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.dark-mode input:not(.form-check-input),
.dark-mode textarea {
  border-color: #fff;
}
.dark-mode .button.button-md {
  background: #fff;
  color: #000;
}
.dark-mode .button.button-md:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #d6d6d6;
}
.dark-mode .scroll-circle {
  background-color: #18181800;
}
.dark-mode .scroll-circle .circle-border {
  border: 1px dashed #fff;
}
.dark-mode .scroll-circle .arrow-icon i {
  color: #fff;
}
.dark-mode ul.list-inline-pills li {
  background-color: #ffffff00;
  border-color: #fff;
  color: #fff;
}
.dark-mode ul.list-inline-pills li i {
  font-size: 1.2em;
}
.dark-mode ul.list-inline-pills li a {
  color: #fff;
}
.dark-mode ul.list-inline-pills li:hover {
  color: #fff;
}
